button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.contact-button {
  margin-right: 8em;
  width: 16%;
  height: 70px;
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
}

.contact-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  .contact-button {
    font-size: 15px;
    width: 120px;
    height: 50px;
    padding: 7px;
  }
}


/* CONTACT FORM MODAL */

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5252527a;
  z-index: 21;
  overflow: auto;
}

.contact-modal {
  position: relative;
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 1.3em 1.3em;
  margin: 5% auto;
  overflow: hidden;
}

.contact-form__header {
  justify-content: space-between;
  width: 100%;
}

#form__title {
  margin-bottom: 1.2em;
  font-size: 3rem;
}

.contact-modal header img {
  cursor: pointer;
}

/* .contact-modal header h2 {
  font-size: 44px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
} */


#contact-form {
  width: 100%;
}

#contact-form label {
  font-size: 23px;
  color: #312E2E;
}

.contact-input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  font-size: 17px;
  padding: 0.4rem;
}

#contact-msg {
  margin: 0;
  margin-top: 0.5em;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.9em;
  color: #b50113;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .contact-input{
  border: 2px solid #e54858;
}

.formData[data-error-visible="true"] #contact-msg {
  border: 2px solid #e54858;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}

.contact-form__validation-button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  border-radius: 5px;
  margin-top: 0.7em;
}

/* DROPDOWN */

.filter-part {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2em auto;
}

#filter {
  width: 9%;
  padding-left: 0.8rem;
  /* margin-left: 1em; */
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  left: 7%;
  top: -90%;
  z-index: 20;
}

#filter button {
  display: block;
  display: flex;
  font-size: 1.3rem;
  color: white;
  text-align: start;
  padding: 1rem;
  width: 100%;
}

.sort-arrow {
  padding-left: 0.7rem;
  font-size: 1.3rem;
}

.up {
  transform: rotate(180deg);
}


/* .filter-arrow-down {
  display: block;
  top: 38.3%;
  position: absolute;
  left: 130px;
  width: 30px;
  height: 25px;
  background: url('/assets/icons/white-arrow.svg') center center / 100% 100%;
}

.filter-arrow-up {
  position: absolute;
  left: 12vw;
  width: 30px;
  height: 25px;
  background: url('/assets/icons/white-arrow.svg') center center / 100% 100%;
  transform: rotate(270deg);
}  */

.optionSpan {
  font-size: 1.3rem;
  padding: 1rem;
  /* padding-block: 1rem; */
  color: white;
  display: block;
  /* width: 100%; */
  cursor: pointer;
  text-decoration: none;
}

.optionSpan:active,
.optionSpan:focus,
.optionSpan:hover {
  color: white;
}

.second:after {
  content: " ";
  position: absolute;
  top: 54px;
  left: 0px;
  height: 1.7px;
  /* width: 150px; */
  width: 90%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.second:before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 0px;
  height: 1.7px;
  /* width: 150px; */
  width: 90%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.choice {
  overflow: hidden;
}

.option-container {
  transition: transform 0.2s ease, opacity 0.2s ease, display 0s 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  display: none;
}

.selected {
  display: none;
}

.option-container__open {
  transform: translateY(2px);
  opacity: 1;
  display: block;
}


/* LIGHTBOX */

/* ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #FFF;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
  background: black;
}

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .3);
} */

.lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 50;
  animation: lightboxIn .5s;
  overflow: auto;
  /* transition: opacity .3s; */
}

.lightbox__container {

  margin-left: 50px;
  margin-right: 50px;
  /* width: 90%; */
  /* min-height: 100vh; */
  /* border: 2px solid black; */
}

.lightbox__container img,
.lightbox__container video {
  max-width: 100%;
  /* display: block; */
  width: 65vw;
  height: 85vh;
  /* max-width: 100%; */
  /* height: auto; */
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 0.2rem;
  animation: lightboxIn .5s;
  /* margin-top: auto; */
}
.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  background: url(../assets/icons/arrow.svg) center center / 100% 100%;
  top: 50vh;
  right: 10vw;
  margin-top: -14px;
}

.lightbox__prev {
  right: auto;
  left: 10vw;
  transform: rotate(180deg);
}

.lightbox__close {
  background: url(../assets/icons/close-lightbox.svg) center center / 100% 100%;
  top: 7vh;
  right: 10vw;
}

.lightbox button {
  width: 35px;
  height: 35px;
  position: fixed;
  /* margin: 3em; */
  border: none;
  cursor: pointer;
  transition: 3s;
  z-index: 20;
  text-indent: -6000px;
  transition: opacity .3s;
}



.media__title {
  font-size: 1rem;
  align-self: stretch;
  /* margin: 0; */
  margin-left: 18vw;
  /* margin-right: 50px; */
  /* display: flex;
  align-items: center; */
  color: #901C1C;
  /* text-align: center; */
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
