button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.contact-button {
  margin-right: 8em;
  width: 16%;
  height: 70px;
  background-color: #901C1C;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
}

.contact-button:hover,
.contact-button:focus {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background-color: #D3573C;
  color: black;
}

@media screen and (max-width: 900px) {
  .contact-button {
    font-size: 15px;
    width: 120px;
    height: 50px;
    padding: 7px;
  }
}


/* CONTACT FORM MODAL */

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5252527a;
  z-index: 21;
  overflow: auto;
}

.contact-modal {
  position: relative;
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 1.3em 1.3em;
  margin: 5% auto;
  overflow: hidden;
}

.contact-form__header {
  justify-content: space-between;
  width: 100%;
}

#form__title {
  margin-bottom: 1.2em;
  font-size: 3rem;
}

.contact-modal header img {
  cursor: pointer;
}

#contact-form {
  width: 100%;
}

#contact-form label {
  font-size: 23px;
  color: #312E2E;
}

.contact-input {
  width: 98%;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  font-size: 17px;
  padding: 0.4rem;
}

#contact-msg {
  margin: 0;
  margin-top: 0.5em;
  border-radius: 5px;
  padding: 0.4rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.1em;
  color: #71030e;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .contact-input{
  border: 2px solid #e54858;
}

.formData[data-error-visible="true"] #contact-msg {
  border: 2px solid #e54858;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}

.contact-form__validation-button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  border-radius: 5px;
  margin-top: 0.7em;
}

.contact-form__validation-button:hover,
.contact-form__validation-button:focus {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background-color: #D3573C;
  color: black;
}



/* DROPDOWN */

.filter-part {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2em auto;
}

#filter {
  width: 13%;
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  left: 7%;
  top: -90%;
  margin-left: 1em;
  z-index: 20;
  padding-left: 1.3rem;
}

.filter-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choice {
  display: block;
  display: flex;
  color: white;
}

.choice:focus,
.optionSpan:focus
 {
  background-color: #D3573C;
  color: black;
}

.sort-arrow {
  color: white;
  margin-right: 1.3em;
  font-size: 1.3rem;
}

.up {
  transform: rotate(180deg);
}

.optionSpan,
.choice {
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-block: 1rem; */
  color: white;
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}


.second:after {
  content: " ";
  position: absolute;
  top: 45%;
  left: -2%;
  height: 1.7px;
  width: 95%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.second:before {
  content: " ";
  position: absolute;
  top: 2%;
  left: -2%;
  height: 1.7px;
  width: 95%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.choice {
  overflow: hidden;
}

.option-container {
  display: none;
  transition: transform 0.2s ease, opacity 0.2s ease, display 0s 0.5s;
  transform: translateY(-40px);
  opacity: 0;
}

.selected {
  display: none;
}

.option-container__open {
  transform: translateY(2px);
  opacity: 1;
  display: block;
}

@media screen and (max-width: 900px) {

  #filter {
    width: 19%;
  }

  .filter-trigger {
    font-size: 1rem;
    height: 30px;
    padding: 7px;
  }

  .optionSpan,
  .choice {
    font-size: 1rem;
  }

  .sort-arrow {
    font-size: 1rem;
  }
}


/* LIGHTBOX */

.lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 50;
  animation: lightboxIn .5s;
  overflow: auto;
}

.lightbox__container {

  margin-left: 50px;
  margin-right: 50px;
}

.lightbox__container img,
.lightbox__container video {
  max-width: 100%;
  width: 65vw;
  height: 85vh;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 0.2rem;
  animation: lightboxIn .5s;
}
.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  background: url(../assets/icons/arrow.svg) center center / 100% 100%;
  top: 50vh;
  right: 10vw;
  margin-top: -14px;
}

.lightbox__prev {
  right: auto;
  left: 10vw;
  transform: rotate(180deg);
}

.lightbox__close {
  background: url(../assets/icons/close-lightbox.svg) center center / 100% 100%;
  top: 7vh;
  right: 10vw;
}

.lightbox button {
  width: 35px;
  height: 35px;
  position: fixed;
  cursor: pointer;
  transition: 3s;
  z-index: 20;
  text-indent: -6000px;
  transition: opacity .3s;
}

.media__title {
  font-size: 1rem;
  align-self: stretch;
  margin-left: 18vw;
  color: #901C1C;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
